/* COLORS */
:root {
  --color: ;
}

/* FONTS */

@font-face {
  font-family: "Inter";
  src: url(../../assets/fonts/inter/Inter-Regular.ttf) format("truetype");
  font-weight: 400;
}

@font-face {
  font-family: "Inter";
  src: url(../../assets/fonts/inter/Inter-Medium.ttf) format("truetype");
  font-weight: 500;
}

@font-face {
  font-family: "Inter";
  src: url(../../assets/fonts/inter/Inter-SemiBold.ttf) format("truetype");
  font-weight: 600;
}

/* CSS RESET */

body,
body * {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: Inter, sans-serif;
}

ul,
ol {
  list-style: none;
}

a {
  text-decoration: none;
}

.main-title,
.section-title {
  text-align: center;
}
