/* COLORS */
:root {
  --black: #000;
  --black2: #141414;
  --white: #fff;
  --lgray: #f3f3f3;
  --dgray: #414141;
  --blue: #235481;
}

/* FONTS */

@font-face {
  font-family: "Inter";
  src: url(../../assets/fonts/inter/Inter-Regular.ttf) format("truetype");
  font-weight: 400;
}

@font-face {
  font-family: "Inter";
  src: url(../../assets/fonts/inter/Inter-Medium.ttf) format("truetype");
  font-weight: 500;
}

@font-face {
  font-family: "Inter";
  src: url(../../assets/fonts/inter/Inter-SemiBold.ttf) format("truetype");
  font-weight: 600;
}

/* CSS RESET */

body,
body * {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: Inter, sans-serif;
}

ul,
ol {
  list-style: none;
}

a {
  text-decoration: none;
}

h1 {
  font-size: 64px;
  font-weight: 500;
}

h2 {
  font-size: 40px;
  font-weight: 600;
}

h1,
h2 {
  text-transform: uppercase;
  text-align: center;
}

p {
  font-size: 24px;
}
