.header {
  padding-top: 48px;
  padding-bottom: 37px;
}

.main-nav {
  display: flex;
  justify-content: space-between;
}

.nav-menu {
  display: flex;
  gap: 50px;
}

.nav-link {
  display: inline-block;
  font-size: 20px;
  border-bottom: solid 1px var(--black);
}

.nav-link:hover {
  color: var(--blue);
  border-bottom-color: var(--blue);
}

.nav-link.nav-logo {
  font-size: 24px;
  line-height: 29px;
  border-bottom: none;
}

.nav-link:hover {
}

.nav-logo,
.nav-link {
  color: #000;
}
