/* STYLESHEET IMPORTS */

@import "../base/global.css";
@import "../base/layout.css";

/* HOME */

.header {
  padding-top: 48px;
  padding-bottom: 37px;
}

.main-nav {
  display: flex;
  justify-content: space-between;
}
